<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
 
 
 
<item>
<title>[B][COLOR lime]***INTRODUCTION**[COLOR yellow]**INFINITY LEGION**[COLOR red]**STAFF***[/COLOR][/B]</title>
<link>http://ignore</link>
<thumbnail>http://oi68.tinypic.com/23svrsg.jpg</thumbnail>
<fanart>http://oi67.tinypic.com/2psnd60.jpg</fanart>
<externallink></externallink>
</item>

<item>
<title>[B][COLOR cyan]   **WEARE LEGION** [COLOR lime] **FOUNDER** [COLOR red]**ADD_ON**[/COLOR][/B]</title>
<link>http://ignore</link>
<thumbnail>http://oi67.tinypic.com/2vxrozc.jpg</thumbnail>
<fanart>http://oi67.tinypic.com/2psnd60.jpg</fanart>
</item>

<item>
<title>[B][COLOR cyan]   **OPHICUS LEGION** [COLOR lime]**COFOUNDER** [COLOR red]**ADD_ON**[/COLOR][/B]</title>
<link>http://ignore</link>
<thumbnail>http://i68.tinypic.com/2qdz7fc.jpg</thumbnail>
<fanart>http://oi67.tinypic.com/2psnd60.jpg</fanart>
</item>

<item>
<title>[B][COLOR cyan]   **GIULLARE LEGION** [COLOR lime] **COFOUNDER*** [COLOR red]**ADD_ON***[/COLOR][/B]</title>
<link>http://ignore</link>
<thumbnail>http://oi64.tinypic.com/2e681lc.jpg</thumbnail>
<fanart>http://oi67.tinypic.com/2psnd60.jpg</fanart>
</item>


<item> 
<title>[B][COLOR dodgerblue]       *************[COLOR magenta] ENTER IN OUR WORLD[/COLOR] [COLOR dodgerblue]*************[/COLOR][/COLOR] [/B]</title> 
<link>ignore</link>
<thumbnail>http://oi63.tinypic.com/29mmv49.jpg</thumbnail>
<fanart>http://oi67.tinypic.com/2psnd60.jpg</fanart>
<externallink>https://www.dropbox.com/s/8e53kuzv6og3aku/REPO%20ADDON.xml?dl=1</externallink>
 </item>


<item>
<title>[B][COLOR lime]FOR SUPPORT & INFO[COLOR dodgerblue]INFINITY LEGION[COLOR yellow]FACEBOOK TEAM[/COLOR][/B]</title>
<link>http://ignore</link>
<thumbnail>http://oi67.tinypic.com/fn458m.jpg</thumbnail>
<fanart>http://oi63.tinypic.com/25rplhk.jpg</fanart>
<externallink></externallink>
</item>
